:root {
    --primaryColor: #DCDCD7;
    --blue: #4a617f;
    --green: #265748;
    --red: #682c32;
    --backgroundColor: #292929;
    --textColor: #8e8e8e;
    
    --spacingLowest: 2px;
    --spacingLow: 5px;
    --spacingMediumLow: 7px;
    --spacingMedium: 10px;
    --spacingHigh: 20px;
    --spacingHigher: 30px;
    --spacingHigherer: 40px;
    --spacingHighest: 50px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: var(--spacingMedium);
    justify-items: center;
    color: var(--textColor);
    background-color: var(--backgroundColor);
}
.clickable{
    background-color: var(--blue);
    color: var(--primaryColor);
    border-radius: var(--spacingMediumLow);
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: var(--spacingHighest);
    width: 300px;
    height: 70px;
    margin: var(--spacingHigh);
}
#homeButton{
    position: fixed;
    left:0;
    top:0;
}
.clickable:hover{
    background-color: var(--textColor);
    
}
.container{
    background-color: var(--green);
    color: var(--primaryColor);
    font-size: var(--textColor);
    border-radius: var(--spacingLow);
    display: grid;
    min-width: 300px;
    max-width: 1200px;
    font-size: var(--spacingHigh);
    padding: var(--spacingMedium);
    margin: var(--spacingMedium);
    flex-wrap: wrap;
    justify-items: center;
}
h1{
    font-size: var(--spacingHigherer);
}
h1,h2,h3,p{
    margin: var(--spacingMedium);
    padding: var(--spacingMedium);
}
img{
    padding: var(--spacingLow);
}
a{
    font-size: var(--spacingHigher);
    font-weight: bold;
    text-decoration: none;
    color: var(--primaryColor);
    margin: var(--spacingLow);
    padding: var(--spacingLow);
}
video{
    border: var(--spacingLow) solid var(--backgroundColor);
    margin: var(--spacingMedium);
    max-height: 700;
}
label{
    font-size: var(--spacingHigh);
    text-align:center;
}
#linksContainer{
    width: 350px;
    border-top: var(--spacingLowest) solid var(--textColor);
    border-radius: None;
    padding: var(--spacingMedium);
    margin-top: 40px;
}
.videosContainer{
    display: flex;
    flex-wrap: wrap;
}
#ageDiv{
    display:inline-block;
}
.githubLink:hover{
    color: var(--textColor);
}