:root {
    --blue: #0E60CC;
    --green: #0B6B4D;
    --red: #B80C09;
    --white: #cccccc;
    --black: #040F16;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    border-left: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    margin: 10px;
    justify-items: center;
    color: var(--black);
    background-color: var(--white);
    height:100vh;
}
.container{
    border-left: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    justify-items: center;
    display: grid;
    font-size: 25px;
    padding-left:5px;
    margin: 25px;
}
#linksContainer{
    display: inline-block;
}
h2,h3{
    margin:3px
}
a{
    color: var(--black);
    text-decoration: none;
}